

@media only screen 
and (min-width : 992px) {
/* Styles */
.header2 {
 
  display:none;
  
}
.parent {
  border: 1px solid black;
  margin: 0.25rem;
  padding: 0.5rem 0.5rem;
      padding-bottom:30px;
      position:relative;
      text-align:center;
  
  
}
.child {
  display: inline-block;
  padding: 0.5rem 0.5rem;
      overflow: hidden;
  height:150px;
  vertical-align: middle;
}
.child:hover {
	overflow: scroll;
	}
.child2 {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  overflow: hidden;
  height:150px;
  vertical-align: middle;
}
.child2:hover {
	overflow: scroll;
}
.boxed {
  border: 1px solid black ;
  color: white;
  background-color:orange;
  width: 250px;
  margin-left:20px;
  padding-left:20px;
       
  
}

.boxed-beef {
  border: 1px solid black ;
  color: white;
  background-color:red;
  width: 250px;
  margin-left:20px;
  padding-left:20px;
       
  
}
.boxed-duck {
  border: 1px solid black ;
  color: white;
  background-color:blue;
  width: 250px;
  margin-left:20px;
  padding-left:20px;
       
  
}
    #header-section1 {
      position: relative;
    }

    #floatright {
      position: absolute;
  
    }
    h1{
    position: relative;
      left: 130px;
      width:120px;
        border: 1px solid black ;
          margin-top:0;
                  background-color:red;
                          overflow:hidden;
                          height:40px;
                  
          
        
      
    }
    h2{
           width:150px;
             overflow:hidden;
                          height:40px;
           font-size: 2em;
           font-weight: bolder;
           
      position: relative;
      left: 150px;
      width:100px;
        border: 1px solid black ;
          margin-top:0;
        background-color:purple;
    }
    .header {
  text-align: center;
  background: white;
  color: white;
  font-size: 30px;
  color:black;
  
}
  h3{
           width:150px;
           font-size: 2em;
           font-weight: bolder;
             overflow:hidden;
                          height:40px;
      position: relative;
      left: 150px;
      width:100px;
        border: 1px solid black ;
          margin-top:0;
        background-color:purple;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 991px) {
/* Styles */
.header2 {
 
  display:none;
  
}
.parent {
  border: 1px solid black;
  margin: 0.25rem;
  padding: 0.5rem 0.5rem;
  text-align:center;
  padding-bottom:30px;
  
}
.child {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;
  
}
.child2 {
  display: inline-block;
    text-align: left;
    padding-top:30px;
   position:auto;
  margin:auto;
}
.boxed {
  border: 1px solid black ;
  color: white;
  background-color:orange;
  width: 250px;
  margin-left:20px;
  padding-left:20px;
       
  
}


.boxed-beef {
  border: 1px solid black ;
  color: white;
  background-color:red;
  width: 250px;
  margin-left:20px;
  padding-left:20px;
       
  
}
.boxed-duck {
  border: 1px solid black ;
  color: white;
  background-color:blue;
  width: 560px;
  margin-left:20px;
  padding-left:20px;
       
  
}
    #header-section1 {
      position: relative;
    }

    #floatright {
      position: absolute;
  
    }
    h1{
    position: relative;
      left: 130px;
      width:120px;
        border: 1px solid black ;
          margin-top:0;
                  background-color:red;
                    overflow:hidden;
                          height:40px;
          
        
      
    }
     h2{
           width:150px;
           font-size: 2em;
           font-weight: bolder;
           
      position: relative;
      left: 150px;
      width:100px;
        border: 1px solid black ;
          margin-top:0;
        background-color:purple;
          overflow:hidden;
                          height:40px;
    }
    h3{
           width:150px;
           font-size: 2em;
           font-weight: bolder;
           
      position: relative;
      left: 460px;
      width:100px;
        border: 1px solid black ;
          margin-top:0;
        background-color:purple;
          overflow:hidden;
                          height:40px;
    }
    .header {
  text-align: center;
  background: white;
  color: white;
  font-size: 30px;
  color:black;
  
}
}




@media only screen 
and (max-device-width : 767px) 
and (min-device-width : 100px) 
{
	.parent {
  border: 1px solid black;
  margin: 0.25rem;
  padding: 0.5rem 0.5rem;
  text-align:center;
  padding-bottom:30px;
    justify-content: center;
  align-content: center;
  align-items: center;
  
}
.child {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;
    position: relative;
  
}
.child2 {
  
 display: inline-block;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;
  }
.boxed {
  border: 1px solid black ;
  color: white;
  background-color:orange;
  width: 250px;
  margin-left:20px;
       
  
}


.boxed-beef {
  border: 1px solid black ;
  color: white;
  background-color:red;
  width: 250px;
  margin-left:20px;
       
  
}
.boxed-duck {
  border: 1px solid black ;
  color: white;
  background-color:blue;
  width: 250px;
  margin-left:20px;
       
       
  
}
    #header-section1 {
      position: relative;
    }

    #floatright {
      position: absolute;
  
    }
    h1{
               width: 100%;
    
    position: relative;
      top: 1px;
        border: 1px solid black ;
          margin-top:0;
                  background-color:red;
                          overflow:hidden;
                             height:auto;
                  
          
        
      
    }
     h2{
           width: 100%;
           height:auto;
           font-size: 2em;
           font-weight: bolder;
           text-align:left;
      position: relative;
        border: 1px solid black ;
          margin-top:0;
        background-color:purple;
        overflow:hidden;
        
    }
    h3{
               width: 100%;
            overflow:hidden;
               height:auto;
    
           font-size: 2em;
           font-weight: bolder;
           
      position: relative;
      top: 1px;
        border: 1px solid black ;
          margin-top:0;
        background-color:purple;
    }
    .header {
  text-align: center;
  background: white;
  color: white;
  font-size: 30px;
  color:black;
  display:none;
  
}
.header2 {
	 top: 50%;
  left: 34%;
  transform: translate(-50%, -50%);
  margin: 0;
  
  font-size: 25px;
  color:black;
  display:show;
  font-family: Arial, Helvetica, sans-serif;
position:relative;

}
/* Styles */
}



